<!DOCTYPE html>
<html>

<head>

<title>
View Story
</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="profile-page">

<h2>
{{ story.username }}
</h2>

<img

src="{{ url_for('static', filename='stories/' + story.image) }}"

class="story-image"

>
{% if current_user.username == story.username %}

<a href="/delete-story/{{ story.id }}">

<br><br>
<button>

🗑 Delete Story

</button>

</a>

{% endif %}

<br><br>


{% if current_user.username == story.username %}

<h3>
👀 Viewers
</h3>

{% for v in viewers %}

<p>
{{ v.viewer }}
</p>

{% endfor %}

{% endif %}
</div>

</body>
</html>