<!DOCTYPE html>
<html>

<head>
<meta
name="viewport"
content="width=device-width, initial-scale=1.0">
    <title>
        Edit Profile
    </title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="profile-page">

    <h1>
        Edit Profile
    </h1>

    <form

    method="POST"

    enctype="multipart/form-data"

    >

        <input

        type="text"

        name="name"

        placeholder="Name"

        value="{{ current_user.name }}"

        required

        >

        <br><br>

        <textarea

        name="bio"

        placeholder="Bio"

        rows="4"

        >{{ current_user.bio }}</textarea>

        <br><br>

        <input

        type="file"

        name="profile_pic"

        >

        <br><br>

        <button type="submit">

            Save Changes

        </button>

    </form>

</div>

</body>
</html>