<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta
name="viewport"
content="width=device-width, initial-scale=1.0">

<title>
Login
</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<!-- ================= LOGIN PAGE ================= -->

<div class="login-page">

    <!-- BACKGROUND GLOW -->

    <div class="login-glow1"></div>

    <div class="login-glow2"></div>

    <!-- LOGIN CARD -->

    <form
    method="POST"
    class="login-card">

        <!-- LOGO -->

        <img

        src="{{ url_for('static', filename='applogo.png') }}"

        class="login-logo"

        >

        <!-- TITLE -->

        <h1>
            Welcome Back
        </h1>

        <p class="login-subtitle">

            Login to continue chatting

        </p>

        <!-- USERNAME -->

        <input

        type="text"

        name="username"

        placeholder="Enter username"

        required

        >

        <!-- PASSWORD -->

        <input

        type="password"

        name="password"

        placeholder="Enter password"

        required

        >

        <!-- BUTTON -->

        <button
        type="submit">

            Login

        </button>

        <!-- REGISTER -->

        <a
        href="/register"
        class="register-link">

            Create new account

        </a>

    </form>

</div>

</body>
</html>