<!DOCTYPE html>
<html>

<head>
<meta
name="viewport"
content="width=device-width, initial-scale=1.0">
<title>
Media
</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="profile-page">

<h1>
Media
</h1>

<h2>
Images
</h2>

{% for img in images %}

<img

src="{{ url_for('static', filename='chat_media/' + img.image) }}"

width="250"

style="margin:10px;border-radius:10px;"

>

{% endfor %}

<h2>
Voice Messages
</h2>

{% for v in voices %}

<audio controls>

<source

src="{{ url_for('static', filename='voice_notes/' + v.voice) }}"

>

</audio>

<br><br>

{% endfor %}

<h2>
Documents
</h2>

{% for d in documents %}

<a

href="{{ url_for('static', filename='documents/' + d.document) }}"

target="_blank"

>

📄 {{ d.document }}

</a>

<br><br>

{% endfor %}

<h2>
Links
</h2>

{% for l in links %}

<a

href="{{ l.link }}"

target="_blank"

>

🔗 {{ l.link }}

</a>

<br><br>

{% endfor %}

</div>

</body>
</html>

