<!DOCTYPE html>
<html>

<head>

<meta
name="viewport"
content="width=device-width, initial-scale=1.0">

<title>
Profile
</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="profile-container">

    <!-- ================= TOP BAR ================= -->

    <div class="profile-topbar">

        <a
        href="/home"
        class="profile-back">

            ←

        </a>

        <h2>
            Profile
        </h2>

    </div>

    <!-- ================= PROFILE CARD ================= -->

    <div class="profile-card">

        <!-- PROFILE IMAGE -->

        <img

        src="{{ url_for('static', filename='uploads/' + user.profile_pic) }}"

        class="profile-big-image"

        >

        <!-- NAME -->

        <h1>
            {{ user.name }}
        </h1>

        <!-- USERNAME -->

        <h3>
            @{{ user.username }}
        </h3>

        <!-- BIO -->

        <p class="profile-bio">

            {{ user.bio }}

        </p>

        <!-- STATS -->

        <div class="profile-stats">

            <div class="stat-box">

                <h2>
                    {{ followers }}
                </h2>

                <p>
                    Followers
                </p>

            </div>

            <div class="stat-box">

                <h2>
                    {{ following }}
                </h2>

                <p>
                    Following
                </p>

            </div>

        </div>

        <!-- BUTTONS -->

        <div class="profile-buttons">

            {% if current_user.username == user.username %}

            <a href="/edit-profile">

                <button class="profile-btn">

                    Edit Profile

                </button>

            </a>

            {% endif %}

            {% if current_user.username != user.username %}

                {% if already_following %}

                <button class="profile-btn following-btn">

                    Following

                </button>

                {% else %}

                <a href="/follow/{{ user.username }}">

                    <button class="profile-btn">

                        Follow

                    </button>

                </a>

                {% endif %}

                <a href="/chat/{{ user.username }}">

                    <button class="message-btn">

                        Message

                    </button>

                </a>

            {% endif %}

        </div>

    </div>

</div>

</body>
</html>