<!DOCTYPE html>
<html>

<head>
<meta
name="viewport"
content="width=device-width, initial-scale=1.0">
<title>
Stories
</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="profile-page">

<h1>
Stories
</h1>

<form

method="POST"

enctype="multipart/form-data"

>

<input

type="file"

name="image"

required

>

<button type="submit">

Upload Story

</button>

</form>

<br><br>

{% for story in stories %}

<div class="story-card">

<h3>
{{ story.username }}
</h3>

<a href="/view-story/{{ story.id }}">

<img

src="{{ url_for('static', filename='stories/' + story.image) }}"

class="story-image"

>

</a>

</div>

{% endfor %}

</div>

</body>
</html>
